# Dependencies
node_modules
package-lock.json
yarn.lock

# Build output
dist
build

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Stockfish engine (copied during build)
public/stockfish.js
